{% extends "base.html" %}
{% load static %}


{#{% block css %}#}
{#    <link href="{% static 'css/catalog_styles.css' %}" rel="stylesheet">#}
{#{% endblock css %}#}

{% block content %}
    <link href="{% static 'css/catalog_styles.css' %}" rel="stylesheet">

    <style>
        *, ::before, ::after {
            --tw-border-spacing-x: 0;
            --tw-border-spacing-y: 0;
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            --tw-pan-x: ;
            --tw-pan-y: ;
            --tw-pinch-zoom: ;
            --tw-scroll-snap-strictness: proximity;
            --tw-gradient-from-position: ;
            --tw-gradient-via-position: ;
            --tw-gradient-to-position: ;
            --tw-ordinal: ;
            --tw-slashed-zero: ;
            --tw-numeric-figure: ;
            --tw-numeric-spacing: ;
            --tw-numeric-fraction: ;
            --tw-ring-inset: ;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgb(59 130 246 / 0.5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-colored: 0 0 #0000;
            --tw-blur: ;
            --tw-brightness: ;
            --tw-contrast: ;
            --tw-grayscale: ;
            --tw-hue-rotate: ;
            --tw-invert: ;
            --tw-saturate: ;
            --tw-sepia: ;
            --tw-drop-shadow: ;
            --tw-backdrop-blur: ;
            --tw-backdrop-brightness: ;
            --tw-backdrop-contrast: ;
            --tw-backdrop-grayscale: ;
            --tw-backdrop-hue-rotate: ;
            --tw-backdrop-invert: ;
            --tw-backdrop-opacity: ;
            --tw-backdrop-saturate: ;
            --tw-backdrop-sepia: ;
            --tw-contain-size: ;
            --tw-contain-layout: ;
            --tw-contain-paint: ;
            --tw-contain-style:
        }

        ::backdrop {
            --tw-border-spacing-x: 0;
            --tw-border-spacing-y: 0;
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            --tw-pan-x: ;
            --tw-pan-y: ;
            --tw-pinch-zoom: ;
            --tw-scroll-snap-strictness: proximity;
            --tw-gradient-from-position: ;
            --tw-gradient-via-position: ;
            --tw-gradient-to-position: ;
            --tw-ordinal: ;
            --tw-slashed-zero: ;
            --tw-numeric-figure: ;
            --tw-numeric-spacing: ;
            --tw-numeric-fraction: ;
            --tw-ring-inset: ;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgb(59 130 246 / 0.5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-colored: 0 0 #0000;
            --tw-blur: ;
            --tw-brightness: ;
            --tw-contrast: ;
            --tw-grayscale: ;
            --tw-hue-rotate: ;
            --tw-invert: ;
            --tw-saturate: ;
            --tw-sepia: ;
            --tw-drop-shadow: ;
            --tw-backdrop-blur: ;
            --tw-backdrop-brightness: ;
            --tw-backdrop-contrast: ;
            --tw-backdrop-grayscale: ;
            --tw-backdrop-hue-rotate: ;
            --tw-backdrop-invert: ;
            --tw-backdrop-opacity: ;
            --tw-backdrop-saturate: ;
            --tw-backdrop-sepia: ;
            --tw-contain-size: ;
            --tw-contain-layout: ;
            --tw-contain-paint: ;
            --tw-contain-style:
        }

        /* ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com */
        *, ::after, ::before {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
            border-color: #e5e7eb
        }

        ::after, ::before {
            --tw-content: ''
        }

        :host, html {
            line-height: 1.5;
            -webkit-text-size-adjust: 100%;
            -moz-tab-size: 4;
            tab-size: 4;
            font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-feature-settings: normal;
            font-variation-settings: normal;
            -webkit-tap-highlight-color: transparent
        }

        body {
            margin: 0;
            line-height: inherit
        }

        hr {
            height: 0;
            color: inherit;
            border-top-width: 1px
        }

        abbr:where([title]) {
            -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: inherit;
            font-weight: inherit
        }

        a {
            color: inherit;
            text-decoration: inherit
        }

        b, strong {
            font-weight: bolder
        }

        code, kbd, pre, samp {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            font-feature-settings: normal;
            font-variation-settings: normal;
            font-size: 1em
        }

        small {
            font-size: 80%
        }

        sub, sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline
        }

        sub {
            bottom: -.25em
        }

        sup {
            top: -.5em
        }

        table {
            text-indent: 0;
            border-color: inherit;
            border-collapse: collapse
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-feature-settings: inherit;
            font-variation-settings: inherit;
            font-size: 100%;
            font-weight: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            color: inherit;
            margin: 0;
            padding: 0
        }

        button, select {
            text-transform: none
        }

        button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
            -webkit-appearance: button;
            background-color: transparent;
            background-image: none
        }

        :-moz-focusring {
            outline: auto
        }

        :-moz-ui-invalid {
            box-shadow: none
        }

        progress {
            vertical-align: baseline
        }

        ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
            height: auto
        }

        [type=search] {
            -webkit-appearance: textfield;
            outline-offset: -2px
        }

        ::-webkit-search-decoration {
            -webkit-appearance: none
        }

        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit
        }

        summary {
            display: list-item
        }

        blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
            margin: 0
        }

        fieldset {
            margin: 0;
            padding: 0
        }

        legend {
            padding: 0
        }

        menu, ol, ul {
            list-style: none;
            margin: 0;
            padding: 0
        }

        dialog {
            padding: 0
        }

        textarea {
            resize: vertical
        }

        input::placeholder, textarea::placeholder {
            opacity: 1;
            color: #9ca3af
        }

        [role=button], button {
            cursor: pointer
        }

        :disabled {
            cursor: default
        }

        audio, canvas, embed, iframe, img, object, svg, video {
            display: block;
            vertical-align: middle
        }

        img, video {
            max-width: 100%;
            height: auto
        }

        [hidden]:where(:not([hidden=until-found])) {
            display: none
        }

        .container {
            width: 100%
        }

        @media (min-width: 640px) {
            .container {
                max-width: 640px
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 768px
            }
        }

        @media (min-width: 1024px) {
            .container {
                max-width: 1024px
            }
        }

        @media (min-width: 1280px) {
            .container {
                max-width: 1280px
            }
        }

        @media (min-width: 1536px) {
            .container {
                max-width: 1536px
            }
        }

        .pointer-events-none {
            pointer-events: none
        }

        .fixed {
            position: fixed
        }

        .absolute {
            position: absolute
        }

        .relative {
            position: relative
        }

        .sticky {
            position: sticky
        }

        .inset-0 {
            inset: 0px
        }

        .inset-y-0 {
            top: 0px;
            bottom: 0px
        }

        .-right-1 {
            right: -0.25rem
        }

        .-top-1 {
            top: -0.25rem
        }

        .bottom-0 {
            bottom: 0px
        }

        .left-0 {
            left: 0px
        }

        .left-2 {
            left: 0.5rem
        }

        .right-0 {
            right: 0px
        }

        .top-0 {
            top: 0px
        }

        .top-2 {
            top: 0.5rem
        }

        .top-6 {
            top: 1.5rem
        }

        .z-50 {
            z-index: 50
        }

        .mx-2 {
            margin-left: 0.5rem;
            margin-right: 0.5rem
        }

        .mx-auto {
            margin-left: auto;
            margin-right: auto
        }

        .mb-1 {
            margin-bottom: 0.25rem
        }

        .mb-2 {
            margin-bottom: 0.5rem
        }

        .mb-3 {
            margin-bottom: 0.75rem
        }

        .mb-4 {
            margin-bottom: 1rem
        }

        .mb-6 {
            margin-bottom: 1.5rem
        }

        .ml-2 {
            margin-left: 0.5rem
        }

        .mr-2 {
            margin-right: 0.5rem
        }

        .mt-10 {
            margin-top: 2.5rem
        }

        .mt-4 {
            margin-top: 1rem
        }

        .mt-8 {
            margin-top: 2rem
        }

        .block {
            display: block
        }

        .flex {
            display: flex
        }

        .inline-flex {
            display: inline-flex
        }

        .grid {
            display: grid
        }

        .hidden {
            display: none
        }

        .h-10 {
            height: 2.5rem
        }

        .h-4 {
            height: 1rem
        }

        .h-48 {
            height: 12rem
        }

        .h-full {
            height: 100%
        }

        .w-10 {
            width: 2.5rem
        }

        .w-4 {
            width: 1rem
        }

        .w-64 {
            width: 16rem
        }

        .w-72 {
            width: 18rem
        }

        .w-full {
            width: 100%
        }

        .flex-1 {
            flex: 1 1 0%
        }

        .flex-shrink-0 {
            flex-shrink: 0
        }

        .appearance-none {
            -webkit-appearance: none;
            appearance: none
        }

        .grid-cols-1 {
            grid-template-columns:repeat(1, minmax(0, 1fr))
        }

        .flex-col {
            flex-direction: column
        }

        .items-center {
            align-items: center
        }

        .justify-center {
            justify-content: center
        }

        .justify-between {
            justify-content: space-between
        }

        .gap-6 {
            gap: 1.5rem
        }

        .gap-8 {
            gap: 2rem
        }

        .space-x-1 > :not([hidden]) ~ :not([hidden]) {
            --tw-space-x-reverse: 0;
            margin-right: calc(0.25rem * var(--tw-space-x-reverse));
            margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)))
        }

        .space-x-4 > :not([hidden]) ~ :not([hidden]) {
            --tw-space-x-reverse: 0;
            margin-right: calc(1rem * var(--tw-space-x-reverse));
            margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
        }

        .space-x-6 > :not([hidden]) ~ :not([hidden]) {
            --tw-space-x-reverse: 0;
            margin-right: calc(1.5rem * var(--tw-space-x-reverse));
            margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
        }

        .space-x-8 > :not([hidden]) ~ :not([hidden]) {
            --tw-space-x-reverse: 0;
            margin-right: calc(2rem * var(--tw-space-x-reverse));
            margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
        }

        .space-y-2 > :not([hidden]) ~ :not([hidden]) {
            --tw-space-y-reverse: 0;
            margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
            margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
        }

        .overflow-hidden {
            overflow: hidden
        }

        .overflow-y-auto {
            overflow-y: auto
        }

        .rounded {
            border-radius: 0.25rem
        }

        .rounded-full {
            border-radius: 9999px
        }

        .rounded-lg {
            border-radius: 0.5rem
        }

        .border {
            border-width: 1px
        }

        .border-t {
            border-top-width: 1px
        }

        .border-gray-200 {
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
        }

        .border-gray-700 {
            --tw-border-opacity: 1;
            border-color: rgb(55 65 81 / var(--tw-border-opacity, 1))
        }

        .bg-blue-100 {
            --tw-bg-opacity: 1;
            background-color: rgb(219 234 254 / var(--tw-bg-opacity, 1))
        }

        .bg-blue-600 {
            --tw-bg-opacity: 1;
            background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
        }

        .bg-gray-100 {
            --tw-bg-opacity: 1;
            background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
        }

        .bg-gray-50 {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1))
        }

        .bg-gray-800 {
            --tw-bg-opacity: 1;
            background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1))
        }

        .bg-gray-900 {
            --tw-bg-opacity: 1;
            background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1))
        }

        .bg-red-500 {
            --tw-bg-opacity: 1;
            background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1))
        }

        .bg-white {
            --tw-bg-opacity: 1;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
        }

        .bg-yellow-500 {
            --tw-bg-opacity: 1;
            background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1))
        }

        .bg-opacity-50 {
            --tw-bg-opacity: 0.5
        }

        .object-cover {
            object-fit: cover
        }

        .p-2 {
            padding: 0.5rem
        }

        .p-4 {
            padding: 1rem
        }

        .p-6 {
            padding: 1.5rem
        }

        .px-2 {
            padding-left: 0.5rem;
            padding-right: 0.5rem
        }

        .px-3 {
            padding-left: 0.75rem;
            padding-right: 0.75rem
        }

        .px-4 {
            padding-left: 1rem;
            padding-right: 1rem
        }

        .py-1 {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem
        }

        .py-2 {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem
        }

        .py-3 {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem
        }

        .py-4 {
            padding-top: 1rem;
            padding-bottom: 1rem
        }

        .py-8 {
            padding-top: 2rem;
            padding-bottom: 2rem
        }

        .pb-12 {
            padding-bottom: 3rem
        }

        .pb-6 {
            padding-bottom: 1.5rem
        }

        .pl-4 {
            padding-left: 1rem
        }

        .pr-8 {
            padding-right: 2rem
        }

        .pt-12 {
            padding-top: 3rem
        }

        .pt-6 {
            padding-top: 1.5rem
        }

        .text-left {
            text-align: left
        }

        .text-center {
            text-align: center
        }

        .text-2xl {
            font-size: 1.5rem;
            line-height: 2rem
        }

        .text-3xl {
            font-size: 1.875rem;
            line-height: 2.25rem
        }

        .text-lg {
            font-size: 1.125rem;
            line-height: 1.75rem
        }

        .text-sm {
            font-size: 0.875rem;
            line-height: 1.25rem
        }

        .text-xl {
            font-size: 1.25rem;
            line-height: 1.75rem
        }

        .text-xs {
            font-size: 0.75rem;
            line-height: 1rem
        }

        .font-bold {
            font-weight: 700
        }

        .font-medium {
            font-weight: 500
        }

        .text-blue-600 {
            --tw-text-opacity: 1;
            color: rgb(37 99 235 / var(--tw-text-opacity, 1))
        }

        .text-gray-400 {
            --tw-text-opacity: 1;
            color: rgb(156 163 175 / var(--tw-text-opacity, 1))
        }

        .text-gray-500 {
            --tw-text-opacity: 1;
            color: rgb(107 114 128 / var(--tw-text-opacity, 1))
        }

        .text-gray-600 {
            --tw-text-opacity: 1;
            color: rgb(75 85 99 / var(--tw-text-opacity, 1))
        }

        .text-gray-700 {
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity, 1))
        }

        .text-gray-800 {
            --tw-text-opacity: 1;
            color: rgb(31 41 55 / var(--tw-text-opacity, 1))
        }

        .text-white {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity, 1))
        }

        .shadow {
            --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
            --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .shadow-md {
            --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .shadow-sm {
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
            --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .transition {
            transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms
        }

        .transition-all {
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms
        }

        .duration-300 {
            transition-duration: 300ms
        }

        .hover\:bg-blue-700:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1))
        }

        .hover\:bg-gray-100:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
        }

        .hover\:text-blue-600:hover {
            --tw-text-opacity: 1;
            color: rgb(37 99 235 / var(--tw-text-opacity, 1))
        }

        .hover\:text-gray-700:hover {
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity, 1))
        }

        .hover\:text-white:hover {
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity, 1))
        }

        @media (min-width: 640px) {
            .sm\:grid-cols-2 {
                grid-template-columns:repeat(2, minmax(0, 1fr))
            }
        }

        @media (min-width: 768px) {
            .md\:mb-0 {
                margin-bottom: 0px
            }

            .md\:block {
                display: block
            }

            .md\:flex {
                display: flex
            }

            .md\:hidden {
                display: none
            }

            .md\:grid-cols-4 {
                grid-template-columns:repeat(4, minmax(0, 1fr))
            }

            .md\:flex-row {
                flex-direction: row
            }

            .md\:items-center {
                align-items: center
            }

            .md\:justify-between {
                justify-content: space-between
            }

            .md\:space-x-3 > :not([hidden]) ~ :not([hidden]) {
                --tw-space-x-reverse: 0;
                margin-right: calc(0.75rem * var(--tw-space-x-reverse));
                margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)))
            }
        }

        @media (min-width: 1024px) {
            .lg\:grid-cols-3 {
                grid-template-columns:repeat(3, minmax(0, 1fr))
            }
        }

    </style>

    <body class="bg-gray-50">

    <!-- Mobile Menu (hidden by default) -->
    <div class="md:hidden hidden bg-white shadow-md" id="mobile-menu">
        <div class="px-4 py-3 space-y-2">
            <a href="index.html" class="block px-3 py-2 text-gray-600 hover:text-blue-600">Главная</a>
            <a href="#" class="block px-3 py-2 text-blue-600 font-medium">Каталог</a>
            <a href="#" class="block px-3 py-2 text-gray-600 hover:text-blue-600">Как это работает</a>
            <a href="#" class="block px-3 py-2 text-gray-600 hover:text-blue-600">Отзывы</a>
        </div>
    </div>

    <!-- Breadcrumbs -->
    <div class="container mx-auto px-4 py-4">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="index.html" class="inline-flex items-center text-sm text-gray-700 hover:text-blue-600">
                        <i class="fas fa-home mr-2"></i>
                        Главная
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <i class="fas fa-chevron-right text-gray-400 mx-2"></i>
                        <span class="text-sm font-medium text-gray-500">Каталог товаров</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>

    <!-- Page Title -->
    <section class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-2">Каталог товаров на обмен</h1>
        <p class="text-gray-600">Выберите интересующие вас товары для обмена</p>
    </section>

    <!-- Main Content -->
    <main class="container mx-auto px-4 pb-12">
        <div class="flex flex-col md:flex-row gap-6">
            <!-- Filters Sidebar - Desktop -->
            <aside class="hidden md:block w-64 flex-shrink-0">
                <div class="bg-white rounded-lg shadow p-6 sticky top-6">
                    <div class="mb-6">
                        <h3 class="font-bold text-lg mb-4">Категории</h3>
                        <ul class="space-y-2" id="category-list">
                            <li>
                                <button class="category-item active px-3 py-2 rounded-full text-sm w-full text-left"
                                        data-category="all">
                                    Все товары
                                </button>
                            </li>
                            <li>
                                <button class="category-item px-3 py-2 rounded-full text-sm w-full text-left"
                                        data-category="electronics">
                                    Электроника
                                </button>
                            </li>
                            <li>
                                <button class="category-item px-3 py-2 rounded-full text-sm w-full text-left"
                                        data-category="clothing">
                                    Одежда
                                </button>
                            </li>
                            <li>
                                <button class="category-item px-3 py-2 rounded-full text-sm w-full text-left"
                                        data-category="home">
                                    Для дома
                                </button>
                            </li>
                            <li>
                                <button class="category-item px-3 py-2 rounded-full text-sm w-full text-left"
                                        data-category="books">
                                    Книги
                                </button>
                            </li>
                            <li>
                                <button class="category-item px-3 py-2 rounded-full text-sm w-full text-left"
                                        data-category="sport">
                                    Спорт
                                </button>
                            </li>
                            <li>
                                <button class="category-item px-3 py-2 rounded-full text-sm w-full text-left"
                                        data-category="other">
                                    Другое
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-6">
                        <h3 class="font-bold text-lg mb-4">Состояние</h3>
                        <div class="space-y-2">
                            <label class="flex items-center">
                                <input type="checkbox" class="rounded text-blue-600" checked="">
                                <span class="ml-2 text-gray-700">Новое</span>
                            </label>
                            <label class="flex items-center">
                                <input type="checkbox" class="rounded text-blue-600" checked="">
                                <span class="ml-2 text-gray-700">Б/у в отличном состоянии</span>
                            </label>
                            <label class="flex items-center">
                                <input type="checkbox" class="rounded text-blue-600" checked="">
                                <span class="ml-2 text-gray-700">Б/у с дефектами</span>
                            </label>
                        </div>
                    </div>

                    <div>
                        <h3 class="font-bold text-lg mb-4">Ценовой диапазон</h3>
                        <div class="mb-2">
                            <input type="range" min="0" max="100000" value="25000" step="1000" class="w-full">
                        </div>
                        <div class="flex justify-between text-sm text-gray-600">
                            <span>0 ₽</span>
                            <span>100 000 ₽</span>
                        </div>
                    </div>
                </div>
            </aside>

            <!-- Products Section -->
            <div class="flex-1">
                <div class="bg-white rounded-lg shadow p-4 mb-6">
                    <div class="flex flex-col md:flex-row md:items-center md:justify-between">
                        <div class="mb-4 md:mb-0">
                        <span class="text-gray-600">Показано <span class="font-medium">24</span> из <span
                                class="font-medium">87</span> товаров</span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <button class="md:hidden px-4 py-2 bg-blue-100 text-blue-600 rounded-full"
                                    id="filter-mobile-button">
                                <i class="fas fa-filter mr-2"></i> Фильтры
                            </button>
                            <div class="relative">
                                <select class="appearance-none bg-gray-100 border border-gray-200 rounded-full py-2 pl-4 pr-8 text-gray-700">
                                    <option>Сначала популярные</option>
                                    <option>Сначала дешевле</option>
                                    <option>Сначала дороже</option>
                                    <option>Сначала новые</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product Grid -->
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6" id="product-grid">
                    <!-- Product Item 1 -->
                    <div class="bg-white rounded-lg shadow overflow-hidden product-card transition-all duration-300"
                         data-category="electronics">
                        <div class="relative pb-2/3 h-48">
                            <img src="https://imgholder.ru/600x300/8493a8/adb9ca&amp;text=Монитор&amp;font=kelson"
                                 alt="Монитор" class="absolute h-full w-full object-cover">
                            <div class="absolute top-2 left-2 bg-blue-600 text-white text-xs px-2 py-1 rounded">Новый
                            </div>
                        </div>
                        <div class="p-4">
                            <h3 class="font-bold text-lg mb-1">Монитор Dell 27"</h3>
                            <p class="text-gray-600 text-sm mb-3">Отличный монитор для работы и игр</p>
                            <div class="flex justify-between items-center">
                                <span class="font-bold text-gray-800">25 000 ₽</span>
                                <button class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-full text-sm transition">
                                    Обменять
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Product Item 2 -->
                    <div class="bg-white rounded-lg shadow overflow-hidden product-card transition-all duration-300"
                         data-category="clothing">
                        <div class="relative pb-2/3 h-48">
                            <img src="https://imgholder.ru/600x300/8493a8/adb9ca&amp;text=Куртка&amp;font=kelson"
                                 alt="Куртка" class="absolute h-full w-full object-cover">
                            <div class="absolute top-2 left-2 bg-yellow-500 text-white text-xs px-2 py-1 rounded">Б/у
                                отличное
                            </div>
                        </div>
                        <div class="p-4">
                            <h3 class="font-bold text-lg mb-1">Куртка зимняя The North Face</h3>
                            <p class="text-gray-600 text-sm mb-3">Размер M, отличное состояние</p>
                            <div class="flex justify-between items-center">
                                <span class="font-bold text-gray-800">15 000 ₽</span>
                                <button class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-full text-sm transition">
                                    Обменять
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Product Item 3 -->
                    <div class="bg-white rounded-lg shadow overflow-hidden product-card transition-all duration-300"
                         data-category="home">
                        <div class="relative pb-2/3 h-48">
                            <img src="https://imgholder.ru/600x300/8493a8/adb9ca&amp;text=Диван&amp;font=kelson"
                                 alt="Диван"
                                 class="absolute h-full w-full object-cover">
                            <div class="absolute top-2 left-2 bg-red-500 text-white text-xs px-2 py-1 rounded">Б/у с
                                дефектами
                            </div>
                        </div>
                        <div class="p-4">
                            <h3 class="font-bold text-lg mb-1">Диван угловой</h3>
                            <p class="text-gray-600 text-sm mb-3">Небольшие потертости на обивке</p>
                            <div class="flex justify-between items-center">
                                <span class="font-bold text-gray-800">12 000 ₽</span>
                                <button class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-full text-sm transition">
                                    Обменять
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Product Item 4 -->
                    <div class="bg-white rounded-lg shadow overflow-hidden product-card transition-all duration-300"
                         data-category="books">
                        <div class="relative pb-2/3 h-48">
                            <img src="https://imgholder.ru/600x300/8493a8/adb9ca&amp;text=Книги&amp;font=kelson"
                                 alt="Книги"
                                 class="absolute h-full w-full object-cover">
                            <div class="absolute top-2 left-2 bg-yellow-500 text-white text-xs px-2 py-1 rounded">Б/у
                                отличное
                            </div>
                        </div>
                        <div class="p-4">
                            <h3 class="font-bold text-lg mb-1">Коллекция книг по программированию</h3>
                            <p class="text-gray-600 text-sm mb-3">10 книг в отличном состоянии</p>
                            <div class="flex justify-between items-center">
                                <span class="font-bold text-gray-800">8 500 ₽</span>
                                <button class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-full text-sm transition">
                                    Обменять
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Product Item 5 -->
                    <div class="bg-white rounded-lg shadow overflow-hidden product-card transition-all duration-300"
                         data-category="electronics">
                        <div class="relative pb-2/3 h-48">
                            <img src="https://imgholder.ru/600x300/8493a8/adb9ca&amp;text=Наушники&amp;font=kelson"
                                 alt="Наушники" class="absolute h-full w-full object-cover">
                            <div class="absolute top-2 left-2 bg-blue-600 text-white text-xs px-2 py-1 rounded">Новый
                            </div>
                        </div>
                        <div class="p-4">
                            <h3 class="font-bold text-lg mb-1">Наушники Sony WH-1000XM4</h3>
                            <p class="text-gray-600 text-sm mb-3">Беспроводные с шумоподавлением</p>
                            <div class="flex justify-between items-center">
                                <span class="font-bold text-gray-800">22 000 ₽</span>
                                <button class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-full text-sm transition">
                                    Обменять
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Product Item 6 -->
                    <div class="bg-white rounded-lg shadow overflow-hidden product-card transition-all duration-300"
                         data-category="sport">
                        <div class="relative pb-2/3 h-48">
                            <img src="https://imgholder.ru/600x300/8493a8/adb9ca&amp;text=Велосипед&amp;font=kelson"
                                 alt="Велосипед" class="absolute h-full w-full object-cover">
                            <div class="absolute top-2 left-2 bg-yellow-500 text-white text-xs px-2 py-1 rounded">Б/у
                                отличное
                            </div>
                        </div>
                        <div class="p-4">
                            <h3 class="font-bold text-lg mb-1">Горный велосипед GT</h3>
                            <p class="text-gray-600 text-sm mb-3">2019 года, пробег 500 км</p>
                            <div class="flex justify-between items-center">
                                <span class="font-bold text-gray-800">35 000 ₽</span>
                                <button class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded-full text-sm transition">
                                    Обменять
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="mt-10 flex justify-center">
                    <nav class="flex items-center space-x-1">
                        <button class="p-2 rounded-full hover:bg-gray-100 text-gray-600">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="w-10 h-10 rounded-full bg-blue-600 text-white">1</button>
                        <button class="w-10 h-10 rounded-full hover:bg-gray-100">2</button>
                        <button class="w-10 h-10 rounded-full hover:bg-gray-100">3</button>
                        <button class="w-10 h-10 rounded-full hover:bg-gray-100">4</button>
                        <button class="p-2 rounded-full hover:bg-gray-100 text-gray-600">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </main>

    <!-- Mobile Filter Sidebar (hidden by default) -->
    <div class="fixed inset-0 z-50 hidden" id="mobile-filter-container">
        <div class="absolute inset-0 bg-gray-900 bg-opacity-50 filter-overlay" id="filter-overlay"></div>
        <div class="absolute left-0 top-0 bottom-0 w-72 bg-white mobile-filter" id="mobile-filter">
            <div class="p-6 h-full overflow-y-auto">
                <div class="flex justify-between items-center mb-6">
                    <h3 class="text-xl font-bold">Фильтры</h3>
                    <button class="text-gray-500 hover:text-gray-700" id="close-mobile-filter">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

                <div class="mb-6">
                    <h3 class="font-bold text-lg mb-4">Категории</h3>
                    <ul class="space-y-2">
                        <li>
                            <button class="category-item-mobile active px-3 py-2 rounded-full text-sm w-full text-left bg-blue-600 text-white"
                                    data-category="all">
                                Все товары
                            </button>
                        </li>
                        <li>
                            <button class="category-item-mobile px-3 py-2 rounded-full text-sm w-full text-left bg-gray-100"
                                    data-category="electronics">
                                Электроника
                            </button>
                        </li>
                        <li>
                            <button class="category-item-mobile px-3 py-2 rounded-full text-sm w-full text-left bg-gray-100"
                                    data-category="clothing">
                                Одежда
                            </button>
                        </li>
                        <li>
                            <button class="category-item-mobile px-3 py-2 rounded-full text-sm w-full text-left bg-gray-100"
                                    data-category="home">
                                Для дома
                            </button>
                        </li>
                        <li>
                            <button class="category-item-mobile px-3 py-2 rounded-full text-sm w-full text-left bg-gray-100"
                                    data-category="books">
                                Книги
                            </button>
                        </li>
                        <li>
                            <button class="category-item-mobile px-3 py-2 rounded-full text-sm w-full text-left bg-gray-100"
                                    data-category="sport">
                                Спорт
                            </button>
                        </li>
                        <li>
                            <button class="category-item-mobile px-3 py-2 rounded-full text-sm w-full text-left bg-gray-100"
                                    data-category="other">
                                Другое
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="mb-6">
                    <h3 class="font-bold text-lg mb-4">Состояние</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input type="checkbox" class="rounded text-blue-600" checked="">
                            <span class="ml-2 text-gray-700">Новое</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="rounded text-blue-600" checked="">
                            <span class="ml-2 text-gray-700">Б/у в отличном состоянии</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="rounded text-blue-600" checked="">
                            <span class="ml-2 text-gray-700">Б/у с дефектами</span>
                        </label>
                    </div>
                </div>

                <div class="mb-6">
                    <h3 class="font-bold text-lg mb-4">Ценовой диапазон</h3>
                    <div class="mb-2">
                        <input type="range" min="0" max="100000" value="25000" step="1000" class="w-full">
                    </div>
                    <div class="flex justify-between text-sm text-gray-600">
                        <span>0 ₽</span>
                        <span>100 000 ₽</span>
                    </div>
                </div>

                <button class="w-full bg-blue-600 hover:bg-blue-700 text-white py-3 rounded-lg font-medium">
                    Применить фильтры
                </button>
            </div>
        </div>
    </div>

    <script>
        // Mobile menu toggle
        document.getElementById('mobile-menu-button').addEventListener('click', function () {
            const menu = document.getElementById('mobile-menu');
            menu.classList.toggle('hidden');
        });

        // Filter functionality
        const categoryItems = document.querySelectorAll('.category-item');
        const categoryItemsMobile = document.querySelectorAll('.category-item-mobile');
        const productCards = document.querySelectorAll('.product-card');

        function filterProducts(category) {
            productCards.forEach(card => {
                if (category === 'all' || card.dataset.category === category) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });

            // Update active state for desktop filters
            categoryItems.forEach(item => {
                if (item.dataset.category === category) {
                    item.classList.add('active', 'bg-blue-600', 'text-white');
                    item.classList.remove('bg-gray-100');
                } else {
                    item.classList.remove('active', 'bg-blue-600', 'text-white');
                    item.classList.add('bg-gray-100');
                }
            });

            // Update active state for mobile filters
            categoryItemsMobile.forEach(item => {
                if (item.dataset.category === category) {
                    item.classList.add('active', 'bg-blue-600', 'text-white');
                    item.classList.remove('bg-gray-100');
                } else {
                    item.classList.remove('active', 'bg-blue-600', 'text-white');
                    item.classList.add('bg-gray-100');
                }
            });
        }

        // Desktop category filtering
        categoryItems.forEach(item => {
            item.addEventListener('click', function () {
                const category = this.dataset.category;
                filterProducts(category);
            });
        });

        // Mobile category filtering
        categoryItemsMobile.forEach(item => {
            item.addEventListener('click', function () {
                const category = this.dataset.category;
                filterProducts(category);
            });
        });

        // Mobile filter toggle
        const mobileFilterButton = document.getElementById('filter-mobile-button');
        const mobileFilterContainer = document.getElementById('mobile-filter-container');
        const mobileFilter = document.getElementById('mobile-filter');
        const filterOverlay = document.getElementById('filter-overlay');
        const closeMobileFilter = document.getElementById('close-mobile-filter');

        mobileFilterButton.addEventListener('click', function () {
            mobileFilterContainer.classList.remove('hidden');
            setTimeout(() => {
                mobileFilter.classList.add('active');
            }, 10);
        });

        closeMobileFilter.addEventListener('click', function () {
            mobileFilter.classList.remove('active');
            setTimeout(() => {
                mobileFilterContainer.classList.add('hidden');
            }, 300);
        });

        filterOverlay.addEventListener('click', function () {
            mobileFilter.classList.remove('active');
            setTimeout(() => {
                mobileFilterContainer.classList.add('hidden');
            }, 300);
        });
    </script>

{#    {% block js %}#}
{#        <script src="{% static "js/jquery_catalog.js" %}"></script>#}
{#    {% endblock js %}#}

    </body>
{% endblock %}
