{% extends "base.html" %}

{% block title %}Объявление{% endblock title %}

{% block content %}
    <div class="container">
        <main>
            <div class="py-5 text-center">
                {#                <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg"#}
                {#                     alt=""#}
                {#                     width="72" height="57">#}
                <h1 class="h2">Объявление</h1>
                {#                <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required#}
                {#                    form#}
                {#                    group has a validation state that can be triggered by attempting to submit the form without#}
                {#                    completing#}
                {#                    it.#}
                {#                </p>#}
            </div>

            <div class="row g-5">
                <div class="col-md-7 col-lg-8 text-center">
                    <form method="post" class="needs-validation"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            {% for field in advert_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}

                                        {{ field }}

                                </div>
                                <div class="error">{{ field.errors }}</div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-primary w-100 py-2" type="submit" >Сохранить</button>

                        {#                        <button type="submit" name='submit_advert_form'>Submit</button>#}
                    </form>
                </div>
            </div>
        </main>

    </div>
{% endblock %}